@font-face
    font-family 'HelveticaNeue'
    src url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype')

@font-face
    font-family 'Myanmar MN'
    src url('../fonts/MyanmarMN/MyanmarMN.ttf') format('truetype')

@font-face
    font-family 'Myanmar MN'
    font-weight bold
    src url('../fonts/MyanmarMN/MyanmarMN-Bold.ttf') format('truetype')
    
*
    margin 0
    padding 0

html
body
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    // cursor none

h1, h2, h3, h4, a
    font-family Myanmar MN
    font-weight bold

h2
    font-size: 30px


// .mouse-cursor
//     position absolute
//     user-select none
//     top: 0;
//     left: 0;
//     width 30px
//     height 30px
//     border-radius 50%
//     border 2px solid white
//     z-index 10

//     &--black
//         border 2px solid black

.start-part
    position relative
    width 100vw
    height 100vh

    &__background
        top 0
        left 0
        width 100%
        height 100%

    &__logotype
        position absolute
        width 105px
        height 105px
        top 60px
        left 50%
        transform translateX(-50%)

    &__logotype-text
        font-family 'Myanmar MN'
        font-size: 30px;
        font-weight bold
        position absolute
        top 180px
        left 50%
        transform translate(-50%)
        text-align center

    &__button-start
        position absolute
        width 188px
        height 64px
        bottom 95px
        left 50%  
        font-family 'Myanmar MN'
        font-weight bold
        font-size 30px
        text-transform uppercase
        background none
        border 3px solid #000000
        border-radius 7px
        padding 10px 0
        transform translate(-50%)

    & canvas 
        background white

.main-part
    display none
    position relative
    width 100vw
    height 100vh
    opacity 0
    //background: linear-gradient(180deg, #FFC400 -78.86%, #FFFAE7 100%)

    &__logotype
        position absolute
        width 105px
        height 105px
        top 60px
        left 50%
        transform translateX(-50%)

    &__background
        top 0
        left 0
        width 100%
        height 100%
        background white

    &__object
        position absolute
        bottom 60px
        left 50%
        display flex
        justify-content center 
        align-items center
        transform translate(-50%)   

        &__name
            color #B6AA81

        &__info-icon
            filter invert(96%) sepia(8%) saturate(1867%) hue-rotate(338deg) brightness(81%) contrast(70%)
            width 25px
            height auto
            margin-left 15px
    .seek-bar
        position absolute
        left 20px
        bottom 150px
        background white
        top 150px
        width 30px
        display flex
        flex-direction column
        justify-content space-between

        .seek-bar-object
            height 10px
            width 10px
            background red

        .current-object
            border 2px solid black
            
    .equalizer-button
        position absolute
        top 10%
        right 7%
        width 30px
        height 30px

        .equalizer
            position absolute
            top 7px
            left 5px
            width 30px
            height 30px

            &__bar
                position absolute
                bottom 0
                width 0
                height 30px
                border-left 4px solid white
                transition 0.2s ease-out 0.2s

            &__1
                left 0

            &__2
                left 6px

            &__3
                left 12px

            &__4
                left 18px

            &__5
                left 24px

            &--on

                .equalizer__bar
                    animation-name equalizer-play
                    animation-iteration-count infinite
                    animation-timing-function ease
                    animation-fill-mode both

                .equalizer__1
                    animation-duration 0.6s

                .equalizer__2
                    animation-duration 0.5s

                .equalizer__3
                    animation-duration 0.58s

                .equalizer__4
                    animation-duration 0.52s

                .equalizer__5
                    animation-duration 0.56s

            &--off 
            
                .equalizer__bar
                    animation-name equalizer-stop
                    animation-iteration-count 1
                    animation-fill-mode forwards

@keyframes equalizer-play
    0%
    100%
        height 8px    
    50%
       height 20px      
       
@keyframes equalizer-stop
    0%
        height 15px
    100%
        height 3px
