@font-face
    font-family 'HelveticaNeue'
    src url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype')

@font-face
    font-family 'Myanmar MN'
    src url('../fonts/MyanmarMN/MyanmarMN.ttf') format('truetype')

@font-face
    font-family 'Myanmar MN'
    font-weight bold
    src url('../fonts/MyanmarMN/MyanmarMN-Bold.ttf') format('truetype')
    

*
    margin 0
    padding 0

html
body
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    // cursor none

// .mouse-cursor
//     position absolute
//     user-select none
//     top: 0;
//     left: 0;
//     width 30px
//     height 30px
//     border-radius 50%
//     border 2px solid white
//     z-index 10

//     &--black
//         border 2px solid black

.start-part
    position relative
    width 100vw
    height 100vh

    &__background
        top 0
        left 0
        width 100%
        height 100%

    &__logotype
        position absolute
        width 105px
        height 105px
        top 60px
        left 50%
        transform translateX(-50%)

    &__logotype-text
        font-family 'Myanmar MN'
        font-size: 30px;
        font-weight bold
        position absolute
        top 180px
        left 50%
        transform translate(-50%)
        text-align center

    &__button-start
        position absolute
        width 188px
        height 64px
        bottom 95px
        left 50%  
        font-family 'Myanmar MN'
        font-weight bold
        font-size 30px
        text-transform uppercase
        background none
        border 3px solid #000000
        border-radius 7px
        padding 10px 0
        transform translate(-50%)

    & canvas 
        background white


        
         

